@import "tailwindcss";

@layer utilities {
  .animate-fade-in {
    animation: fadeIn 0.2s ease-out forwards;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-5px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

/* Hide vertical scrollbar but keep scroll functionality */
.no-scrollbar {
  -ms-overflow-style: none;     /* IE & old Edge */
  scrollbar-width: none;        /* Firefox */
}
.no-scrollbar::-webkit-scrollbar {
  display: none;                /* Chrome, Safari */
}

